* {
   font-family: 'Julius Sans One', sans-serif;

}
.home {
    color: #d4af37;
    text-align: center;
   
 }
  
 h1 {
    font-size: 100px;
    padding: 10%;
    animation: backInDown; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
   
   
 }
  
 button {
    background-color: #d4af37; /* Green */
  border: 5px;
  color: whitesmoke;
  padding: 15px 32px;
  text-align: center;
  text-decoration:wavy;
  display: inline-block;
  font-size: 25px;
  font-family: 'Julius Sans One', sans-serif;

  border-radius: 30px;
  width: 200px;
  margin: 20px;
  
   animation: backInUp; /* referring directly to the animation's @keyframe declaration */
 animation-duration: 2s;
 /* don't forget to set a duration! */
  


 }
  
 button:hover{
    opacity: 0.5;
   
   
   
 }
  


  
 .input-stuff {
    font-size:40px;
    border-radius: 10px;
    font-family: 'Julius Sans One', sans-serif;
    
   animation: backInUp; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
   
   
 

 } 
 .container {
   display: flexbox;
   flex-direction: column;
   background: rgb(101, 182, 239);

   border: 1px solid grey;
   border-radius: 30px;
   top: 30%;
   padding: 25px;
   cursor: pointer;
   -moz-osx-font-smoothing: grayscale;

   backface-visibility: hidden;
   transform: translateZ(0);
   transition: transform 0.25s ease-out;
   margin: 20px;
   
 }
 .container:hover {
   transform: scale(1.05);
 }

 .list {
   width: 85vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
 }
 
 li {
   color:black;
 }

 h2 { 
   color: black;
 }

.btn-cool {
   font-size: 30px;
   background-color: rgb(156, 212, 255);
   border: 5px;
   color: #d4af37;
   margin-top: 20%; 
   box-shadow: 10px 10px 8px grey;

}
.btn-cool:hover {
   transform: scale(1.05);
   box-shadow: 15px 15x 15px rgb(62, 59, 59);

}

input {
   font-family: 'Julius Sans One', sans-serif;
   
}

footer {

   padding-top:30%;
   padding-bottom: 5%;
   font-size: 20px;;
}